@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
body{background:#0a0a0a;font-family:Inter,sans-serif;color:white;text-align:center}
.title{margin-top:40px;font-size:45px;font-weight:800}
.title span{color:#34ff4a}
.container{padding:50px 0;display:flex;justify-content:center}
.parent{height:400px;width:900px;display:flex;gap:40px;perspective:1000px}
.card{width:300px;height:400px;border-radius:15px;overflow:hidden;position:relative;transition:.5s;background-position:center;background-size:cover;transform-style:preserve-3d;cursor:pointer}
.card1{background-image:url(https://images.unsplash.com/photo-1501594907352-04cda38ebc29?q=80);filter:hue-rotate(150deg)}
.card2{background-image:url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?q=80);filter:hue-rotate(90deg)}
.date-box{position:absolute;top:75px;left:25px;height:60px;width:60px;background:black;text-align:center;padding-top:7px;border-radius:10px}
.date-box p{margin:0;font-size:12px;font-weight:700}
.date{font-size:20px;font-weight:900;color:#ff4444}
.text{position:absolute;bottom:30px;left:25px;right:25px;text-align:left}
.text p{opacity:.9}
.see{color:#ff4444;text-decoration:none}
.green{color:#00ff8a}
.card:hover{background-position:80%;transform:rotateX(30deg) rotateY(30deg)}